## Rider
.idea/
*.sln.iml

## Visual Studio Code
.vscode/
*.code-workspace

## Visual Studio
.vs/
bin/
obj/
*.user
*.suo
*.sln.DotSettings

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Test Results
TestResults/
*.trx
*.coverage

## NuGet
*.nupkg
*.snupkg
.nuget/

## Environment variables
.env
.env.local
.env.*.local

## Azure
.azure/

## OS
.DS_Store
Thumbs.db
